<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <app-pie-chart></app-pie-chart>  
        </div>
        <div class="col-md-4">
            <div class="row">
                
            </div>
            <div class="row">
                
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6"></div>
            </div>
        </div>
    </div>
</div> -->
<!-- <router-outlet></router-outlet> -->
<div align="center">
        <app-donut2></app-donut2>
</div>
